.archor-panel {
    -fx-background-color: rgb(6, 17, 37);
}

.group-box {
    -fx-background-color: transparent;
    -fx-border-color: rgb(64, 128, 160);
    -fx-border-radius: 4px;
}

.label-box {
    -fx-text-fill: rgb(100, 234, 233);
    -fx-border-color: rgb(84, 136, 157);
}

.label-box-title {
    -fx-text-fill: rgb(100, 234, 233);
    -fx-border-color: transparent;
}

.bg-transparent{
    -fx-background-color: transparent;
}

.bg-babyblue{
    -fx-background-color: rgb(193, 210, 240);
}

.bg-cream {
    -fx-background-color: #fbeab2;
}

.bg-goldenrod{
    -fx-background-color: #daa520;
}

.bg-mask{
    -fx-background-color: rgba(64, 64, 64, 0.8);
}

.bg-popup{
    -fx-background-color: #333333;
}

.list-cell:even {
    -fx-background-color: rgb(127, 255, 212);
}

.list-cell:odd {
    -fx-background-color: rgb(255, 228, 196);
}

.list-cell:selected {
    -fx-background-color: rgb(247, 238, 214);
}

.list-cell:empty {
    -fx-background-color: rgb(169, 169, 169);
}

.title {
    -fx-background-color: transparent;
}

.title:hover {
    -fx-background-color: rgba(64, 64, 64, 0.9);
}

.button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: linear-gradient(#ff9900, #be1d00);
}

.close{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.close:hover{
    -fx-background-color: rgb(255, 0, 0);
}